.weather-container {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
}

.weather-main {
  text-align: left;
  margin-bottom: 15px;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.feels-like,
.condition {
  font-size: 14px;
  color: #ccc;
}

.weather-details,
.pollution-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 8px;
}

.detail {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 2px 0;
}

.detail span {
  margin-right: 5px;
  font-weight: bold;
}

.pollution-details h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}
